.feedback {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  .feedback__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
}

@media (min-width: @tablet-width) {
  .feedback {
    width: 436px;
    padding: 64px 166px 108px 166px;
    margin: 0;
  }

  .feedback__title {
    font-size: 30px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    width: 436px;
    padding: 115px 382px 68px 382px;
    margin: 0;
  }
}
