.hero {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 320px;
  min-height: 389px;
  background-color: #81B3D2;

  .hero__main-background-image {
    width: 320px;
    height: 100%;
  }

  .hero__main-welcome-logo {
    position: absolute;
    top: 90px;
    left: 19px;
  }
}
