.html-academy {
  margin: 0;
  margin-top: 29px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.html-academy:hover {
  color: rgba(129, 179, 210, 1);
}

.html-academy:active {
  color: rgba(179, 179, 179, 1);
}

@media (min-width: @tablet-width) {
  .html-academy {
    margin: 0;
  }
}
