.link-vk {
  color: rgba(129, 179, 210, 1);

  path:nth-of-type(2),
  path:nth-of-type(3) {
    color: rgb(255, 255, 255, 1);
  }
}

.link-vk:hover {
  color: rgba(102, 158, 192, 1);
}

.link-vk:active {
  color: rgba(84, 150, 189, 1);

  path:nth-of-type(2),
  path:nth-of-type(3) {
    color: rgba(255, 255, 255, 0.3);
  }
}
