.main-nav {
  width: 320px;

  .main-nav__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
  }

  .main-nav__item {
    background-color: #81B3D2;
  }

  .main-nav__link {
    text-decoration: none;
    color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 768px;
    background-color: #ffffff;
    color: #000000;

    .main-nav__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .main-nav__left-list {
      display: flex;
      margin-right: auto;
      width: 306px;
    }

    .main-nav__right-list {
      display: flex;
      margin-left: auto;
      width: 306px;
    }

    .main-nav__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 153px;
      background-color: #ffffff;
    }

    .main-nav__link {
      color: #000000;
    }
  }
}
