.modal-ok {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;
  padding-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  .modal-ok__title {
    font-size: 21px;
  }

  .modal-ok__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    width: 280px;
    padding: 18px 18px 14px;
    margin: 0 auto;
    border: none;
    background-color: #81B3D2;
    color: #ffffff;
    text-transform: uppercase;
  }
}
