.video-presentation {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  .video-presentation__title {
    font-size: 21px;
    font-weight: 700;
  }
}
