@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2);
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "PT Sans", sans-serif;
}

@tablet-width: 768px;
@desktop-width: 1200px;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import url(blocks/main-header.less);
@import url(blocks/logo.less);
@import url(blocks/main-nav.less);
@import url(blocks/hero.less);
@import url(blocks/introduction.less);
@import url(blocks/advantages.less);
@import url(blocks/subscribe.less);
@import url(blocks/main-footer.less);
@import url(blocks/hashtag.less);
@import url(blocks/social.less);
@import url(blocks/html-academy.less);
@import url(blocks/main-inner.less);
@import url(blocks/inner-hero.less);
@import url(blocks/feedback.less);
@import url(blocks/feedback-form.less);
@import url(blocks/modal-error.less);
@import url(blocks/modal-ok.less);
@import url(blocks/main-catalog.less);
@import url(blocks/photo-gallery.less);
@import url(blocks/photo-gallery.less);
@import url(blocks/video-presentation.less);
@import url(blocks/button.less);
